header{
    margin-top: 100px;
    margin-left: 20px;
}
/*An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed). However; if an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with page scrolling.*/
.under {
    position: absolute;
    width: 1680px;
    height: 1050px;
    margin-top: 100;
    margin-left:155;
    z-index: -2;
 
}
.over {
    position: : absolute;
    width: 367px;
    height: 205px;
    margin-top: -50px;
    margin-left: 180px;
    z-index: -1;
}

/*An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed). However; if an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with page scrolling.*/
nav {
    margin-top: 300px;
}
ul {
    list-style-type: ;
    margin-left: 113px;
    padding: 1px;
    overflow: hidden;
    
}

li {
    float: left;
    display:inline;
     
}
/* inside nav bar setting */
li a {
    font-family: 'Sansita', sans-serif;
    color: orange;
    font-size: 15px;
    text-decoration: none;
    width: 93px;
    padding: 1px;
    background-color: white;
}

/* Change the link color on hover */
li a:hover {
    background-color: palegreen;
}
.up {
    position: absolute;
    margin-top: -8px;
    z-index: 0;
 
}
.bottom {
    position: : absolute;
    margin-right: 10px;
    margin-right: 10px;
    z-index: -1;
}        
    


