html,body{
    background - color : white;
	height: 100%;
    width: 100%;
	Display: flex;
    flex-direction: column;
    Text-align: center;
    font-family: monda,Trebuchet MS, Helvetica, sans-serif;
    line-height: 1.5;
	
}

h1{
    font-family:Sacramento; sans-serif;
    color: yellow;
    Text-align: center;
    font-size: 40px;
    background-image:url("https://farm1.staticflickr.com/573/32112878350_bc300abb15_o_d.jpg");
    background-size: cover;
    padding : 160px;
    margin : 10px;
}

.page-description {
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  border: 0px solid green;
  text-align: center;
  font-family:arsenal;sans-serif;
  font-size: 25px;    
  color:green; 
  padding : 30px;
  background-color: white;
        
}

.container{
    width:65%;margin;20px auto;
    background-color:white;
    font-family:monda;sans-serif;
}

#columns {
    background-color: white;
    border: px solid #000;
    text-align: justify;
    width : 95%;  
    padding: 30px;
    column-gap: 10px;	
    background-color: white;
}
#columns .left-col {
    float: left; 
    width: 30%; 
    height: 400px; 
    outline: 0px solid blue;
    margin: 10;
    padding: 10px;
    display: flex;
    flex-wrap:wrap;
    width : 30%    
    padding:0px;
    background-color: red;  

    }


#columns .mid-col {
    float: left; 
    width: 30%; 
    height: 400px; 
    outline: 0px solid red;
    padding: 10px;
    display: flex;
    flex-wrap:wrap;
}

#columns .right-col{
    float: left; 
    width: 30%; 
    height: 400px; 
    outline: 0px solid blue;
    padding: 10px;
    display: flex;
    flex-wrap:wrap;
}




nav{
    background-color: whitesmoke;
    display:inline;
}

nav li{
    margin: ; 50;
    padding: :0 20px;
    background-color: whitesmoke;
    display:inline;
}

.contact {
}

.footer {
    margin:center;
    font-size:  30px;
    padding: 8px 18px;
    border: 1px solid #204156;  
}
